<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="The_Admin_Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="The_Admin_Toolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <The_Admin_Toolbox.Properties.Settings>
      <setting name="SCCMServer" serializeAs="String">
        <value>AWEU2SCCMMP01P.GTC.GG.GROUP</value>
      </setting>
      <setting name="MLabsConn" serializeAs="String">
        <value>ds012678.mlab.com</value>
      </setting>
      <setting name="MLabsPort" serializeAs="String">
        <value>12678</value>
      </setting>
      <setting name="MLabsDB" serializeAs="String">
        <value>pcdata</value>
      </setting>
      <setting name="ServiceInstallerLocation" serializeAs="String">
        <value>\\iad1srvfs1\IT Common\ServiceInstaller</value>
      </setting>
      <setting name="DHCP" serializeAs="String">
        <value>10.32.248.30</value>
      </setting>
      <setting name="ChocoServerPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\IT\Powershell\Powershell Software Install\chocolateyinstall.bat</value>
      </setting>
      <setting name="AcroProPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\IT\Powershell\Powershell Software Install\Adobe Config\Adobe Pro\</value>
      </setting>
      <setting name="AcroStdPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\IT\Powershell\Powershell Software Install\Adobe Config\Adobe Std\</value>
      </setting>
      <setting name="EyeMaxPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\EyeMax DVR\networkdvr</value>
      </setting>
      <setting name="SmartViewPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\SmartView</value>
      </setting>
      <setting name="CleverantPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\Cleverant</value>
      </setting>
      <setting name="SabreHTEPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\ASHostPlatform</value>
      </setting>
      <setting name="exacqVisionPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\IT\Powershell\Powershell Software Install\exacqVisionClient_6_2_5.exe</value>
      </setting>
      <setting name="exacqVisionPathBat" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\IT\Powershell\Powershell Software Install\exacqVisionClient.bat</value>
      </setting>
      <setting name="Snagit11Path" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\Snagit11</value>
      </setting>
      <setting name="Able2ExtractPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\Able2Extract</value>
      </setting>
      <setting name="DialPadPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\DialPad</value>
      </setting>
      <setting name="SAPGUIPath" serializeAs="String">
        <value>\\nfileram1.global.gg.group\Reston\Software\Applications\ChocolateyRepo\SAPGUI730</value>
      </setting>
      <setting name="ADServer" serializeAs="String">
        <value>AEUGL1.global.gg.group</value>
      </setting>
    </The_Admin_Toolbox.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <The_Admin_Toolbox.Properties.Settings>
      <setting name="Domain" serializeAs="String">
        <value />
      </setting>
    </The_Admin_Toolbox.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>